{% extends "store/base.html" %}

{% block title %}
<title>
    Books List | Library
</title>
{% endblock %}

{% block content %}

<h3>Books list</h3>
<div class="row">
    <div class="col-sm-3">
        Title: <input type="text" name="title" id="title">
    </div>
    <div class="col-sm-3">
        Author: <input type="text" name="author" id="author">
    </div>
    <div class="col-sm-3">
        Genre: <input type="text" name="genre" id="genre">
    </div>
</div>
<div class="row">
    <button id="search_button" class="btn btn-primary">Search</button>
</div>
<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Rating</th>
        <th scope="col">MRP</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="/book/{{book.id}}">{{book.title}}</a></td>
        <td>{{book.author}}</td>
        <td>{{book.genre}}</td>
        <td>{{book.rating}}</td>
        <td>{{book.mrp}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>

var base_url=location.protocol + '//' + location.host + location.pathname;

$("#search_button").click(function(){
    var final_url=base_url.replace(/\/$/, "");
    title_value=$("#title").val();
    if(title_value!=""){
        final_url=final_url+"?title="+title_value;
    }
    author_value=$("#author").val();
    if(author_value!=""){
        final_url=final_url+"?author="+author_value;
    }
    genre_value=$("#genre").val();
    if(genre_value!=""){
        final_url=final_url+"?genre="+genre_value;
    }
    window.location.replace(final_url);
});

</script>
{% endblock %}